body {
    background-color: rgb(255, 255, 255);
}

p {
    color: rgb(252, 196, 124);
    font-size: 20px;
}

h1 {
    text-align: center;
}

#score {
    text-align: center;
}

.clear {
    clear: both;
}

#size-bloc {
    margin-left: -50px;
    padding-left: 50%;
}

#size-title {
    float: left;
    margin-top: 0px;
}

#size {
    width: 50px;
    margin-left: 10px;
    border-radius: 3px;
}

#canvas {
    background-color: #dbd5ce;
    border-radius: 1%;
}

#canvas-block {
    margin-left: -250px;
    padding-left: 50%;
    border-radius: 50%;
}

.level-container {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.three {
    background-color: #6aa86c;
    /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    /* font-size: 25px; */

}

.three:focus {
    outline: 0;
}

.three:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.five {
    background-color: #e1a639;
    /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

}

.five:focus {
    outline: 0;
}

.five:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.seven {
    background-color: #e56060;
    /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.seven:focus {
    outline: 0;
}

.seven:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.top-label {
    font-size: 28px;
    font-weight: 700;
    color: rgb(0, 77, 90);
}

.main-container {
    /* background-color: teal; */
    margin-left: 23%;
    margin-right: 23%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid rgb(73, 3, 3);
    border-radius: 5%;
}